@use '../helpers' as *;

.circle {
    &-primary {
        position: relative;

        &::before {
            @include square(#{rem(16)});
    
            content: '';
            position: absolute;
            background-color: var(--color-primary);
            z-index: 0;
            border-radius: 50%;
            top: -20%;
            right: -10%;
        }
    }

    &-count {
        position: relative;
        z-index: 10;
        top: -50%;
        right: -24%;
        color: var(--color-dark);
    }
}