@use '../helpers' as *;

.header {
    &__body {
        padding-block: rem(14);
        background-color: var(--bg-dark-10);

        &--flex {
            display: flex;
            align-items: center;

            @include tablet {
                flex-wrap: wrap;
                justify-content: center;
                row-gap: rem(7);
            }

            @include mobile {
                justify-content: center;
                flex-direction: column;
                row-gap: rem(7);
            }
        }

        &-logo {
            @include laptop-above {
                padding-right: rem(50);
            }

            @include laptop {
                padding-right: rem(25);
            }

            @include tablet {
                padding: 0;
            }
        }

        &-img {
            display: flex;

            @include hover {
                svg > path {
                    fill: var(--color-yellow);
                    transition-duration: var(--transition-duration);
                }
            }
        }

        &-list {
            display: flex;
            
            @include laptop-above {
                column-gap: rem(65);
            }

            @include laptop {
                flex-wrap: wrap;
                justify-content: center;
                column-gap: rem(15);
                padding-right: rem(8);
            }

            @include mobile {
                flex-direction: column;
                padding: 0;
            }
        }

        &-item {
            @include mobile {
                display: flex;
                justify-content: center;
            }
        }

        &-link {
            position: relative;
            text-transform: uppercase;

            @include hover {
                color: var(--color-yellow);
                transition-duration: var(--transition-duration);

                &::after {
                    width: 100%;
                }
            }

            &::after { 
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                translate: -50%;
                width: 0;
                height: 2px;
                background-color: var(--color-yellow);
                transition-duration: inherit;
            }
        }

        &-profile {
            @include block-center;

            @include mobile {
                flex-direction: column;
                row-gap: rem(10);
            }

            &__user {
                @include block-center;

                column-gap: rem(7);

                @include laptop-above {
                    width: rem(195);
                    height: rem(37);
                }

                @include laptop {
                    width: rem(185);
                    height: rem(33);
                }

                &-avatar {
                    padding-left: rem(3);

                    @include tablet-above {
                        width: rem(28);
                        height: rem(28);
                    }

                    @include laptop {
                        @include block-center;
                    }
                }

                &-nickname {
                    @include hover {
                        color: var(--color-yellow);
                        transition-duration: var(--transition-duration)
                    }
                }

                &-img {
                    border-radius: var(--border-radius);

                    @include laptop {
                        width: rem(28);
                        height: rem(28);
                    }
                }

                &-budget {
                    @include block-center;

                    column-gap: rem(7);
                    color: var(--color-light-gray);

                    p {
                        margin: 0;
                    }
                }

                &-arrow {
                    @include block-center;

                    svg > path {
                        fill: var(--color-light);
                    }
                }
            }
        }

        &-show {

            &__list {
                display: flex;
                align-items: center;
                column-gap: rem(15);

                @include mobile {
                    order: 1;
                }
            }

            &__item {
                &:last-child {
                    padding-right: rem(15);
                }

            }

            &__link {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &-extra {
            @include block-center;
            column-gap: rem(17);
            padding-left: rem(30);

            @include laptop {
                padding-left: rem(15);
                column-gap: rem(10);
            }

            &__list {
                @include block-center;
                column-gap: rem(15);
            }

            &__item {
                @include block-center;

                color: var(--color-light-gray);

                @include hover {
                    color: var(--color-yellow);
                }

                * > svg > path {
                    fill: var(--color-light-gray);
                }
            }

            &__arrow {
                @include block-center;
            }

            &__button {
                &-list {
                    @include block-center;
                    column-gap: rem(18);

                    @include tablet-above {
                        column-gap: rem(10);
                    }
                }

                &-item {
                    @include block-center;
                    cursor: pointer;

                    @include hover {
                        svg > g > path {
                            fill: var(--color-yellow);
                            transition-duration: var(--transition-duration);
                        }
                    }
                }
            }
        }
    }
}